nav {
  width: 100%;

  ul {
  	margin:0;
  	list-style:none;
		padding: 0px 0px 0px 0px;

	  li {
	  	margin:0;
	    color: #999;
	    font-size: 15px;
	    line-height: 1.1em;
	    height: 60px;
	    padding: 10px 10px 0px 0px;
	    float:left;
	    position:relative;
	  }
  }
}
